/* CSS Document */
body{
margin:0;
padding:0;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color: #999999;
}

#header{
width: 850px;
text-align: center;
height: 359px;
position: absolute;
top:0;left: 75px; 
z-index: 0;
}

#countdown{
width: 850px;
text-align: center;
position: absolute;
top: 300px;left: 75px; 
z-index: 1;
}

table.container{
margin-top: 335px;
margin-left: 125px;
}

table.container td{
vertical-align:top;
}

#main{
width: 490px;
text-align: left;
padding-right: 20px;
position:relative;
z-index: 1;
}

#links{
width:240px;
position: relative;
z-index: 1;
}

#footer{
position: relative;
left: 75px;
top:-150px;
z-index: 0;
float: none;
clear: both; 
width: 850px;
height: 153px;
text-align: center;
font-size: smaller;
font-style: italic;
}
	
#signature{
	font-family:"monotype corsiva", cursive;
	font-size:20px;
	}

p.quote{
	background-color:#FAFAFA;
	text-align:center;
	border:outset;
	border-color:#7E7E7E;
	padding:10px;
	width:75%;
	margin:50px;
	}
	
p.center{
	text-align:center;
	}

img.party{
	border:inset;
	}
	
table.thumbs{
	vertical-align: middle;
	text-align: center;
	border-collapse: collapse;
	}

td.thumbs{
	border: solid 1px #999999;
	padding: 10px;
	}

img.thumbs{
	height:80%;
	width:80%;
	}

#linkList {
	text-align:left;
	}

#lselect h3 {
	background:transparent url(images/linkstitle.gif) no-repeat center;
	height:51px;
	margin:0;
	padding:0;
	}

#lselect ul {
	list-style:none;
	margin:0;
	padding:0;
}


#lselect ul li {
	padding:0 0 0 16px;
	background-color: #f8f8f8;
	border-bottom: 1px dotted #ccc;
	line-height:2;
}
	
a:link, a:visited {
	color:#968354;
	}
	
a:hover, a:active  {
	color:#7e7e7e;
	}
	
#linkList a{
	font-weight:bold;
	}
	
#linkList a:link, #linkList a:visited{
	text-decoration:none;
	}
	
#linkList a:hover{
	text-decoration:underline;
	}
	
#linkList li:hover{
	background-color:#fefefe;
	}
